

@media(max-width: 900px) {
    .offcanvas{
        background-image: linear-gradient(to bottom right, #5DE0E6, #0078A6);
    }
   
}
/* SVG CSS BEGIN */
svg {
    height: 20%;
    width: 20%;
    margin-left: 20%;

  }
  path {
    fill: #EEF1F6;
    stroke: #81A3BC;
    stroke-width: 2;
    stroke-linejoin: round;
  }
  path:hover {
    fill: #496571;
    stroke: #81A3BC;
  }
 
  text {
    fill:#81A3BC;; /* Initial text color */
      font-size: 12px; /* Font size */
  }

  svg:hover text {
    fill:#E0E9F2; /*Change text color on hover*/
  }

  @media (max-width: 600px) {
    svg {
      height: 40%;
      width: 40%;
      margin-left: 10px; /* Adjust this value for mobile screens */
    }

    text {
      font-size: 12px; /* Increase font size for better readability on mobile */
    }
    }
/* SVG CSS END */



  