

@media(max-width: 900px) {
    .offcanvas{
        background-image: linear-gradient(to bottom right, #5DE0E6, #0078A6);
    }
   
}


/* nav bar begins */

.navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #E0E9F2;
  margin-left: 60px;
}

.navbar-nav .nav-link.active {
  color: #192A34;
}

.navbar-nav .nav-link:hover {
  color: #192A34;
  
}


/* this is for the navbar button */
.btn {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2;
  padding: 10px 24px;
}

.btn-brand {
  background-color: #192A34;
  color: #E0E9F2;
}

.btn-brand:hover {
  background-color: #E0E9F2 ;
  color: #192A34;
}
/* navbar button ends */
/* navbar ends */

/* hero begins */
#hero{
  background: linear-gradient(rgba(9, 81, 109, 0.5), #9615105b), url(/images/nationparkimage.jpg);
  background-size: cover;
}

#hero1{
  background: linear-gradient(rgba(9, 81, 109, 0.5), #9615105b), url(/images/nationalparkspixbay.jpg);
  background-size: cover;

}
#hero2{
  background: linear-gradient(rgba(9, 81, 109, 0.5), #6159595b), url(/images/mountainspixbay.jpg);
  background-size: cover;

}

/* squiggle begins */
.custom-shape-divider-bottom-1716225251 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1716225251 svg {
  position: relative;
  display: block;
  width: calc(164% + 1.3px);
  height: 172px;
}

.custom-shape-divider-bottom-1716225251 .shape-fill {
  fill: #ffffff;
}
/* squiggle ends */

/* about sections begins */
.myaboutimages{
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-size: cover;
}
.nationalpark{
  position: relative;
  overflow: hidden;
}

.nationalpark .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(6, 55, 75, 0.5) ;
  padding: 30px;
  display: flex;
  align-items: flex-end;
  transition: all 0.4s ease;
  opacity: 0;
}

.nationalpark img{
  transition: all 0.4s ease;
}

.nationalpark:hover .overlay{
  opacity: 1;
  transform: scale(1.1);
}

.nationalpark:hover img{
  transform: scale(1.1);
}
/* about section ends */


/* national park page sections begins */
* {
  box-sizing: border-box;
}
.myNationalParkPageImages{
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* background-size: cover; */
}
.nationalParkPage{
  position: relative;
  overflow: hidden;
  border: 2px solid #192A34;
  border-radius: 15px;
}

.initialTitle{
  position:absolute;
  top: 90%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%); /* Adjust position to be centered */
  padding: 10px;
  color: #192A34;
  text-align: center;
}

.nationalParkPage .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(6, 55, 75, 0.685) ;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  opacity: 0;
  box-sizing: border-box; 
  
}

.nationalpark img{
  transition: all 0.4s ease;
}

.nationalParkPage:hover .overlay{
  opacity: 1;
  /* transform: scale(1.0); */
  
}

.nationalParkPage:hover img{
  transform: scale(1.1);
  
}

/* national park page sections begins */




/* contact us begins */
#contactus{
  background: linear-gradient(to right, rgba(146, 214, 224, 0.267), rgba(133, 211, 235, 0.205)), url(/images/yosemitenationalparkpixbay.jpg);
  background-size: cover;
  background-position: center;
}

#contactus form{
  background-color: #496571;
  padding: 32px;
}

#contactus form .form-control {
  background-color: #496571;
  border-radius: 10px;
  margin-top: 16px;
  border-color: #81A3BC;
  border-width: 2px;

}

#contactus form input {
  height: 58px;

}

#contactus form .form-control:focus{
  box-shadow:none;
  border-color: #192A34;
}
.custom-shape-divider-top-1716237112 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1716237112 svg {
  position: relative;
  display: block;
  width: calc(164% + 1.3px);
  height: 172px;
}

.custom-shape-divider-top-1716237112 .shape-fill {
  fill: #FFFFFF;
}
/* contact us ends */
  
/* footer begins */
footer{
  padding-top:5px;
}

.footer-bottom{
  padding-top: 10px ;
  border-top: 1px solid #192A34;
}
/* footer ends */

/* parks and mountains svg starts */
.custom-shape-divider-bottom-1716304325 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1716304325 svg {
  position: relative;
  display: block;
  width: calc(189% + 1.3px);
  height: 109px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1716304325 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1716329097 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1716329097 svg {
  position: relative;
  display: block;
  width: calc(172% + 1.3px);
  height: 110px;
}

.custom-shape-divider-bottom-1716329097 .shape-fill {
  fill: #FFFFFF;
}
/* parks and mountains svg starts */

/* mountain drop down start */
.dropdownmenu{
  padding-left: 10px;
  padding-right:5px;
  color:#192A34 ;
  border-radius: 10px;
  margin-bottom: 30px;
  border-width: 3px;
  margin-top: 15px;
  
}

.dropdownmenu:hover{
  border-color:#81A3BC;
  border-width: 4px;
}
/* mountain drop down end */

/* mountain card */
.cardmountain{
  border-color:#496571;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
}


.mountainimage{
  height: 400px;
  width: 400px;
  background-image: cover;
  margin-top: 10px;

}

.mountainBookButton{
  margin-bottom: 15px;
}
/* mountain end */
