

@media(max-width: 900px) {
    .offcanvas{
        background-image: linear-gradient(to bottom right, #5DE0E6, #0078A6);
    }
   
}

/* nav bar begins */

.navbar-nav .nav-link {
  font-weight: 500;
  color: #E0E9F2;
}

.navbar-nav .nav-link.active {
  color: #192A34;
}

/* this is for the button */
.btn {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2;
  padding: 10px 24px;
}

.btn-brand {
  background-color: #192A34;
  color: #E0E9F2;
}

.btn-brand:hover {
  background-color: #E0E9F2 ;
  color: #192A34;
}


  